@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0%;
  padding: 0em;
}
body {
  font-family: "JetBrains Mono", sans-serif;
  /* font-size: large; */
}
.big {
  text-shadow: -1px 1px 0 #c084fc, 1px 1px 0 #c084fc, 1px -1px 0 #c084fc,
    -1px -1px 0 #c084fc;
}
.links {
  border: none;
  background: none;
}

.links span {
  padding-bottom: 7px;
}

.animation {
  position: relative;
  color: #c084fc;
  padding-bottom: 10px;
}

.animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c084fc;
  transition: transform 0.25s ease-out;
}

.links:hover .animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@supports (-moz-appearance: none) {
  /* Firefox */
  html {
    scrollbar-color: rgb(30, 41, 59) #c084fc;
    scrollbar-width: thin;
  }
}

/* For WebKit-based browsers */
@supports (-webkit-appearance: none) {
  html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgb(59, 87, 132);
  }

  html::-webkit-scrollbar {
    width: 14px;
    background-color: rgb(30, 41, 59);
    border-radius: 10px;
  }

  html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #c084fc;
  }
}
.btn:hover {
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}
@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 rgb(192, 132, 252);
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
.scrollspy-example {
  position: relative;
  height: 200px;
  overflow: auto;
}

header {
  backdrop-filter: blur(5px);
}

form {
  justify-content: center;
  align-items: center;
}

.sidebarr {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(30, 41, 59);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}
.sidebarr div {
  transition: 0.3s;
}
.nav1 {
  top: 0;
  height: 10%;
  z-index: 1;
}
